.zippy{
    border : 2px solid #ccc;
    border-radius: 2px;
}
.glyphicon{
    float : right;
}
.zippy-header { 
    font-size : 2em;
    font-weight: bold;
    padding : 15px;
}
.zippy-body{
    font-size: 1.25em;
    padding: 15px;
}